*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.head{
    padding:1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

h1,h2{
  text-align: center;
  color: #3498db;
}
.small-logo{
    width: 50px;
    height: auto;
    border-radius:100px;
}
.heading{
    display: flex;
    gap: 1rem; 
    padding: 10px;
    align-items: center;
}
.but{
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    background-color: #3498db;
    padding: 10px;
}
.but:hover{
    background-color: darkmagenta;
}
/*aside{
    flex: 1;
    text-align: right;
    padding-right: 20px;
}*/
.track{
    margin-bottom: 20px ;
    padding: 15px;
    margin:10px ;
    background:white;
    border-radius: 10px;
    border: 2px solid lightskyblue;
    box-shadow: 0px 0px 10px #3498db;
    transition: ease-in-outss ;
}
.track button{
    margin-top: 10px;
    padding: 15px;
    background-color: #8e44ad;
    color:black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
}
.track button:hover{
    background-color: #3498db;
    transform: scale3d(1.05);
}
.page{
    text-align: center;
    align-items: center;
    margin: 10px;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    flex: 1;
}

.foot{
    padding: 20px 200px;
    text-align: center;
    background: #2c3e50;
    color: white;
    margin-top: 600px;
}
 h3.logo{
 color:#3498db;
 }
 .navy ul{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
    list-style:none ;
 }
 a {
    text-decoration: none;
    color: aliceblue;
    color: black;
 }
.section1{
    align-items: center;
    text-align: center;
    text-decoration: underline;
    color: #3498db;
}
.section2{
    height: 50px;
    padding-bottom: 20px;
}
.image-container{
   /* background-color: #3498db;*/
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: fit-content;
}
.doctor-image{
    max-width: 300px;
    border-radius: 10px;
}
@media  {
    
}
